<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal</title>
    <link rel="stylesheet" href="principal.component.css">
    
</head>
<body>
    <br>
    <h1 align=center>Sistema Gestor de Sastrería</h1>
    <header class="header">
        <div class="container logo-nav-container">
            <a href="#" class='logo'> Sara Lerh Sastrería</a>
            <nav class='navigation'>
                <ul>
                    <li> <a [routerLink]="['calendario']" [routerLinkActive]="['calendario']"> Calendario </a> </li>
                    <li> <a [routerLink]="['inventario']" [routerLinkActive]="['inventario']"> Inventario</a> </li>
                    <li> <a [routerLink]="['clientes']" [routerLinkActive]="['clientes']" > Clientes </a> </li>
                    <li> <a [routerLink]="['ordenes']" [routerLinkActive]="['ordenes']" > Órdenes</a> </li>
                </ul>        
            </nav>
        </div>
    </header>

    <main class="main">
        <div class= 'container'>
            <br>
            <table border="1px" align=center>
                    <img src="portadasastre.png" alt="prueba" />
            </table>   
        </div>

    </main>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <footer class='footer'>
        <div class='container'>
            <p>Página Diseñada por Alicia Diaz y Jeffry Mata</p>
        </div>
    </footer>

    
</body>
</html>

