<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendario</title>
</head>
<body>
    <header class="header">
        <div class="container logo-nav-container">
            <a href="#" class='logo'> Sara Lerh Sastrería</a>
            <nav class='navigation'>
                <ul>
                    <li> <a [routerLink]="['calendario']" [routerLinkActive]="['calendario']"> Calendario </a> </li>
                    <li> <a [routerLink]="['inventario']" [routerLinkActive]="['inventario']"> Inventario</a> </li>
                    <li> <a [routerLink]="['clientes']" [routerLinkActive]="['clientes']" > Clientes </a> </li>
                    <li> <a [routerLink]="['ordenes']" [routerLinkActive]="['ordenes']" > Órdenes</a> </li>
                </ul>
            </nav>
        </div>
    </header>
    <br>
    <div align='right' top:0px >
        <form action="" method="get">
            <input type="search" name="q" placeholder="Busca">
            <button type="submit">Buscar</button>
        </form>
    </div>

    <br>
    <br>
    <h1>Calendario</h1>


</body>
</html>