<h1 mat-dialog-title>Envio de Email</h1>
<div mat-dialog-content >
  <label>Nombre</label>
  <mat-form-field appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput [(ngModel)]="data.nombre">
  </mat-form-field>

  <label>Correo Electronico</label>
  <mat-form-field appearance="fill">
    <mat-label>Correo Electronico</mat-label>
    <input matInput [(ngModel)]="data.email">
  </mat-form-field>

  <label>Asunto</label>
  <mat-form-field appearance="fill">
    <mat-label>Asunto</mat-label>
    <input matInput >
  </mat-form-field>

  <label>Mensaje</label>
  <mat-form-field appearance="fill">
    <mat-label>Mensaje</mat-label>
    <textarea matInput ></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data.nombre" cdkFocusInitial>Enviar</button>
</div>