<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<br>
<h1 align="center">
  Detalles cliente
</h1>

<div class="container">
  <form>

    <div class="wrapper">
      <div>
        <label style="margin-right: 150px;">Cedula:</label><br>
        <input style="margin-right: 30px;" id="cedula" readonly class="form-control" type="text" >
      </div>

      <div>
        <label style="margin-left: 30px;">Nombre:</label><br>
        <input style="margin-left: 30px; width:338%" id="nombre" readonly class="form-control" type="text" ><br>
      </div>
    </div>
    <div class="wrapper">
      <div>
        <label style="margin-top: 30px;">Teléfono 1:</label><br>
        <input id="telefono1" readonly style="width: 200px; margin-right: 70px; height: 35px;" class="form-control" type="tel">
      </div>
      <div>
        <label style="margin-top: 30px;">Tipo teléfono 1:</label><br>
        <input id="tipoTelefono1" readonly style="width: 200px; margin-right: 70px;" class="form-control" type="tel">
      </div>
      <div>
        <label style="margin-top: 30px;">Notas teléfono 1:</label><br>
        <textarea id="notasTelefono1" readonly style="width: 300; height: 35px;" rows="1" class="form-control" type="text"></textarea>
      </div>
    </div><br>
    
    <div class="wrapper">
      <div>
        <label style="margin-top: 30px;">Teléfono 2:</label><br>
        <input id="telefono2" readonly style="width: 200px; margin-right: 70px;" class="form-control" type="tel">
      </div>
      <div>
        <label style="margin-top: 30px;">Tipo teléfono 2:</label><br>
        <input id="tipoTelefono2" readonly style="width: 200px; margin-right: 70px;" class="form-control" type="tel">
      </div>
      <div>
        <label style="margin-top: 30px;">Notas teléfono 2:</label><br>
        <textarea id="notasTelefono2" readonly style="margin-bottom: 20px; height: 35px;" rows="1" class="form-control"
          type="text" placeholder="Notas..."></textarea>
      </div>
    </div><br>

    <p>
      <label>E-mail:</label> <br>
      <input id="email" readonly class="form-control" type="email"> <br>
    </p>
    <p>
      <label>Dirección:</label> <br>
      <textarea id="direccion" readonly rows="4" class="form-control" type="text"></textarea>
    </p>
    <p>
      <label>Observaciones cliente:</label> <br>
      <textarea id="observacionesCliente" readonly rows="4" class="form-control" type="text"></textarea><br>
    </p>
    <div align="center">
      <button class="btn btn-success" type="button" style="margin-right: 50px" routerLink="/modificarCliente">
        Editar
        <i class="material-icons" type="button" mat-raised-button color="warn" focusable="false"
             style="margin-left: 20px;" routerLink="/modificarCliente">edit</i>
      </button>
      <button class="btn btn-success" type="button" routerLink="/clientes">
        Cerrar
        <i class="material-icons" style="margin-left: 20px;">close</i></button>
    </div>
  </form>
</div>