<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <header class="header">
    <div class="container logo-nav-container">
      <a href="#" class='logo'> Sara Lerh Sastrería</a>
      <nav class='navigation'>
        <ul>
          <li> <a [routerLink]="['../calendario']" [routerLinkActive]="['calendario']"> Calendario </a> </li>
          <li> <a [routerLink]="['../inventario']" [routerLinkActive]="['inventario']"> Inventario</a> </li>
          <li> <a [routerLink]="['../clientes']" [routerLinkActive]="['clientes']"> Clientes </a> </li>
          <li> <a [routerLink]="['../ordenes']" [routerLinkActive]="['ordenes']"> Órdenes</a> </li>
        </ul>
      </nav>
    </div>
  </header>

  <br>
  <br>
  <h1 align='center'> <b> <u>Lista de Inventario</u></b></h1>

  <hr>
  <form action="" align='left'>
    <select name="cars" id="cars" class="forms-control" placeholder="Seleccionar..." border-radius=4px>
      <optgroup label="Hilos">
        <option value="" disabled selected hidden>Categorias...</option>
        <option value="negro">Negro</option>
        <option value="blanco">Blanco</option>
      </optgroup>
      <optgroup label="Telas">
        <option value="suave">Suave</option>
        <option value="lisa">Lisa</option>
      </optgroup>
    </select>
  </form>

  <form action="" method="get" align='right'>
    <input (keyup)="filtrar($event)"  class="forms-control" placeholder="Buscar..." border-radius=4px >
  </form>
  <hr>  
  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" #tabla1>

    <ng-container matColumnDef="codigo">
      <th mat-header-cell *matHeaderCellDef> Codigo </th>
      <td mat-cell *matCellDef="let inventar"> {{inventar.codigo}} </td>
    </ng-container>

    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef> Descripción </th>
      <td mat-cell *matCellDef="let inventar"> {{inventar.descripcion}} </td>
    </ng-container>

    <ng-container matColumnDef="categoria">
      <th mat-header-cell *matHeaderCellDef> Des.categoria </th>
      <td mat-cell *matCellDef="let inventar"> {{inventar.categoria}} </td>
    </ng-container>

    <ng-container matColumnDef="precio">
      <th mat-header-cell *matHeaderCellDef> Precio </th>
      <td mat-cell *matCellDef="let inventar"> {{inventar.precio}} </td>
    </ng-container>

    <ng-container matColumnDef="fecharegistro">
      <th mat-header-cell *matHeaderCellDef> Fecha de Registro </th>
      <td mat-cell *matCellDef="let inventar"> {{inventar.fecharegistro}} </td>
    </ng-container>

    <ng-container matColumnDef="cantidad">
      <th mat-header-cell *matHeaderCellDef> Cantidad </th>
      <td mat-cell *matCellDef="let inventar"> {{inventar.cantidad}} </td>
    </ng-container>

    <ng-container matColumnDef="borrar">
      <th mat-header-cell *matHeaderCellDef> Borrar? </th>
      <td mat-cell *matCellDef="let j = index;">
        <i class="material-icons" type="button" mat-raised-button color="warn" focusable="false" (click)="borrarFila(j)">delete</i>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
    <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
  </table>

  <hr>
  <div align='center'> 
    <nav>   
        <button class="material-icons" mat-raised-button focusable="false" routerLink="/registrarMaterial" routerLinkActive="/registrarMaterial">Agregar Material</button> 
        &nbsp;
        <i class="material-icons">person_add</i>
        &nbsp; &nbsp; &nbsp; &nbsp;
        <button class="material-icons" mat-raised-button focusable="false" routerLink="/modificarInventario" routerLinkActive="/modificarInventario">Modificar Material</button> 
        &nbsp;
        <i class="material-icons">edit</i>
      </nav>               
  </div>
  <hr>

</body>
</html>