<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <header class="header">
    <div class="container logo-nav-container">
      <a href="#" class='logo'> Sara Lerh Sastrería</a>
      <nav class='navigation'>
        <ul>
          <li> <a [routerLink]="['../calendario']" [routerLinkActive]="['calendario']"> Calendario </a> </li>
          <li> <a [routerLink]="['../inventario']" [routerLinkActive]="['inventario']"> Inventario</a> </li>
          <li> <a [routerLink]="['../clientes']" [routerLinkActive]="['clientes']"> Clientes </a> </li>
          <li> <a [routerLink]="['../ordenes']" [routerLinkActive]="['ordenes']"> Órdenes</a> </li>
        </ul>
      </nav>
    </div>
  </header>

  <br>
  <br>
  <h1 align='center'> <b> <u>Lista de Inventario</u></b></h1>

  <hr>
  <form action="" align='left'>
    <select name="cats" id="categoriasSelect" class="forms-control" placeholder="Seleccionar..." border-radius=4px>
        <option value="" disabled selected hidden>Categorias...</option>
    </select>
  </form>

  <form action="" method="get" align='right'>
    <input (keyup)="filtrar($event)"  class="forms-control" placeholder="Buscar..." border-radius=4px >
  </form>
  <hr>
  
  <div class="scrollbar">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" #tabla1>

    <ng-container matColumnDef="codigo">
      <th mat-header-cell *matHeaderCellDef> Codigo </th>
      <td mat-cell *matCellDef="let inventario"> {{inventario.codigo}} </td>
    </ng-container>

    <ng-container matColumnDef="categoria">
      <th mat-header-cell *matHeaderCellDef> Categoria </th>
      <td mat-cell *matCellDef="let inventario"> {{inventario.categoria}} </td>
    </ng-container>

    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef> Descripción </th>
      <td mat-cell *matCellDef="let inventario"> {{inventario.descripcion}} </td>
    </ng-container>

    <ng-container matColumnDef="cantidad">
      <th mat-header-cell *matHeaderCellDef> Cantidad </th>
      <td mat-cell *matCellDef="let inventario"> {{inventario.cantidad}} </td>
    </ng-container>

    <ng-container matColumnDef="unidadmedida">
      <th mat-header-cell *matHeaderCellDef> Unidad de medida </th>
      <td mat-cell *matCellDef="let inventario"> {{inventario.unidadmedida}} </td>
    </ng-container>

    <ng-container matColumnDef="precio">
      <th mat-header-cell *matHeaderCellDef> Precio </th>
      <td mat-cell *matCellDef="let inventario"> {{inventario.precio}} </td>
    </ng-container>

    <ng-container matColumnDef="fecharegistro">
      <th mat-header-cell *matHeaderCellDef> Fecha de Registro </th>
      <td mat-cell *matCellDef="let inventario"> {{inventario.fecharegistro}} </td>
    </ng-container>
    
    <ng-container matColumnDef="editar">
      <th mat-header-cell *matHeaderCellDef> Editar </th>
      <td mat-cell *matCellDef="let j = index;">
        <i class="material-icons" type="button" mat-raised-button color="warn" focusable="false" routerLink="/modificarInventario">edit</i>
      </td>
    </ng-container>

    <ng-container matColumnDef="borrar">
      <th mat-header-cell *matHeaderCellDef> Borrar? </th>
      <td mat-cell *matCellDef="let j = index;">
        <i class="material-icons" type="button" mat-raised-button color="warn" focusable="false" (click)="borrarFila(j)">delete</i>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
    <tr mat-row *matRowDef="let row; columns: columnas;" (click)="clickedRows.add(row)"
    [class.demo-row-is-clicked]="clickedRows.has(row)"></tr>
  </table>
  </div>

  <hr>
  <div align='center'> 
    <nav>   
        <button class="material-icons" mat-raised-button focusable="false" routerLink="/registrarMaterial" routerLinkActive="/registrarMaterial">
          Agregar material
          <i class="material-icons" style="margin-left: 20px;">add_shopping_cart</i>
        </button> 
      </nav>               
  </div>
  <hr>

</body>
</html>