<h1 mat-dialog-title>
  <label id="titulo">Abonar a la orden: </label>
</h1>

<div mat-dialog-content style="height: 420px;">

  <div class="wrapper_a" >

    <!-- Fecha de registro -->
    <div style="margin-right: 20px;">
      <label>Fecha de registro:</label><br>
      <input matInput [(ngModel)]="data.FechaAbono" readonly style="height: 35px;" class="form-control" type="text">
    </div>

    <!-- Monto -->
    <div>
      <label>Monto Abono:</label><br>
      <input cdkFocusInitial (change)="calcularNuevoSaldo($event)" matInput [(ngModel)]="data.MontoAbono" min="0" style="height: 35px;" class="form-control" type="number">
    </div>

  </div>


  <div class="wrapper_a" style="margin-top: 20px;">
    <div style="margin-right: 20px;">
      <label>Saldo Anterior:</label><br>
      <input matInput [(ngModel)]="data.SaldoAnterior" readonly style="height: 35px;" class="form-control" type="number">
    </div>

    <div style="margin-right: 20px;">
      <label>Nuevo Saldo:</label><br>
      <input matInput [(ngModel)]="data.NuevoSaldo" readonly style="height: 35px;" class="form-control" type="text">
    </div>

  </div>

  <div style="margin-top: 20px;">
    <label>Anotaciones:</label><br>
    <textarea style="height: 35px;" style="width: 100%;" rows="3" class="form-control" type="text"></textarea>
  </div>


  <!-- Botones -->
  <div mat-dialog-actions align="center" style="margin-top: 20px;">
    <button class="btn btn-success" type="button" style="margin-right: 20px;" (click)="onCancelClick()">
      Cancelar
      <i class="material-icons" style="margin-left: 20px;">close</i>
    </button>
    <button class="btn btn-success" type="button" [mat-dialog-close]="data">
      <!--  (click)="insertarCliente(data)"> -->
      Agregar
      <i class="material-icons" style="margin-left: 20px;">money</i>
    </button>
  </div>
</div>