<h1 mat-dialog-title>Enviar E-mail al cliente</h1>
<div mat-dialog-content>
  <div>
    <label style="margin-left: 10px;">Nombre</label>
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput [(ngModel)]="data.nombre">
    </mat-form-field>
  </div>

  <div>
    <label style="margin-left: 10px;">Correo Electronico</label>
    <mat-form-field appearance="fill">
      <mat-label>Correo Electronico</mat-label>
      <input matInput [(ngModel)]="data.email">
    </mat-form-field>
  </div>

  <div>
    <label style="margin-left: 10px;">Asunto</label>
    <mat-form-field appearance="fill">
      <mat-label>Asunto</mat-label>
      <input matInput>
    </mat-form-field>
  </div>

  <div>
    <label style="margin-left: 10px;">Mensaje</label>
    <mat-form-field appearance="fill">
      <mat-label>Mensaje</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
  </div>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data.nombre" cdkFocusInitial>Enviar</button>
</div>