<h1 mat-dialog-title>Registrar Prendas</h1>

<div mat-dialog-content style="height: 350px;">

  <div class="wrapper_c">

    <!-- Número de prenda -->
    <div style="margin-right: 20px;">
      <label>N° de prenda:</label><br>
      <input matInput [(ngModel)]="data.NumeroPrenda" readonly style="height: 35px;" class="form-control" type="number">
    </div>

    <!-- Cantidad -->
    <div style="margin-right: 20px;">
      <label>Cantidad:</label><br>
      <input id="cantidad" cdkFocusInitial matInput [(ngModel)]="data.Cantidad" min="1" 
       (change)="calcularMonto()" style="height: 35px;" class="form-control" type="number">
    </div>

    <!-- Precio -->
    <div style="margin-right: 20px;">
      <label>Precio:</label><br>
      <input matInput [(ngModel)]="data.Precio" min="0" style="height: 35px;" class="form-control"
      (change)="calcularMonto()" type="number">
    </div>

    <!-- Monto -->
    <div>
      <label>Monto:</label><br>
      <input id="monto" matInput [(ngModel)]="data.MontoTotal" min="0" readonly style="height: 35px;" class="form-control" type="text">
    </div>

  </div>

  <div class="wrapper_b" style="margin-top: 20px;">

    <!-- Tipo Prenda -->
    <div style="margin-right: 20px;">
      <label>Tipo Prenda:</label><br>
      <select id="tiposPrendas" class="forms-control" style="height: 35px; width: 100%;" border-radius=4px>
        <option label="Seleccione una unidad"></option>
      </select>
    </div>

    <!-- Fecha de encargo -->
    <div style="margin-right: 20px;">
      <label>Fecha de encargo:</label><br>
      <input matInput [(ngModel)]="data.FechaEncargo" id="fechaRegistro" readonly style="height: 35px;" class="form-control" type="text">
    </div>

    <div>
      <label>Fechas de Entrega:</label><br>
      <input id="fechaEntrega" matInput [(ngModel)]="data.FechaEntrega" style="height: 35px;" class="form-control" type="date">
    </div>

  </div>

  <div style="margin-top: 20px;">
    <label>Descripción:</label><br>
    <textarea matInput [(ngModel)]="data.Descripciones" cdkFocusInitial style="height: 35px;" style="width: 100%;" rows="3"
      class="form-control" type="text"></textarea>
  </div>


  <!-- Botones -->
  <div mat-dialog-actions align="center" style="margin-top: 20px;">
    <button class="btn btn-success" type="button" style="margin-right: 20px;" (click)="onCancelClick()">
      Cancelar
      <i class="material-icons" style="margin-left: 20px;">close</i>
    </button>
    <button class="btn btn-success" type="button" [mat-dialog-close]="data" (click)="insertarPrenda(data)">
      Agregar
      <i class="material-icons" style="margin-left: 20px;">money</i>
    </button>
  </div>
</div>