<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="ordenes.component.css">
</head>
<body>
  <header class="header">
    <div class="container logo-nav-container">
        <a href="#" class='logo'> Sara Lerh Sastrería</a>
        <nav class='navigation'>
            <ul>
              <li> <a [routerLink]="['../calendario']" [routerLinkActive]="['calendario']"> Calendario </a> </li>
              <li> <a [routerLink]="['../inventario']" [routerLinkActive]="['inventario']"> Inventario</a> </li>
              <li> <a [routerLink]="['../clientes']" [routerLinkActive]="['clientes']" > Clientes </a> </li>
              <li> <a [routerLink]="['../ordenes']" [routerLinkActive]="['ordenes']" > Órdenes</a> </li>
            </ul>
        </nav>
    </div>
</header>

<br>
<br>

<form action="" method="get" align='right'>
  <input type="text"  class="forms-control" placeholder="Buscar.." border-radius=4px>
  <button type="submit" >Buscar</button>
</form>

<div>
  <mat-form-field appearance="fill">
    <mat-label>Categorias</mat-label>
    <select matNativeControl>
      <option value="Hilos">Volvo</option>
      <option value="Telas">Saab</option>
      <option value="Pantalones">Mercedes</option>
      <option value="Camisas">Audi</option>
    </select>
  </mat-form-field>

</div>


  
</body>
</html>
